@import '../base.css';

/********* Footer */
.footer {
  background-color: #222;
}

.divider {
  height: 30px;
  background-color: black;
  display: grid;
  align-content: center;
}

.divider h2 {
  color: white;
  text-align: center;
  display: none;
}

.nav {
  padding: 30px var(--master-padding);
  text-align: center;
  display: grid;
  align-content: center;
  grid-gap: 30px;
}

.nav p {
  margin: 0;
  color: #eee;
}

.donation {
  text-align: center;
  padding: 10px;
}

.donation img {
  width: 100px;
  height: auto;
  background-color: white;
  padding: 10px;
  margin-bottom: 6px;
}

.donation img:hover {
  cursor: pointer;
}

.donation p, .donation h2 {
  color: #eee;
}

@media only screen and (min-width: 800px) {
  .nav {
    grid-template-columns: 1fr auto auto;
    text-align: left;
    padding: 30px var(--master-padding);
  }

  .donation {
    text-align: center;
  }
}
