<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Clean AF Cars</title>

  <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Roboto:400|Bebas+Neue:400" rel="stylesheet">
  <link rel="icon" href="/icon.jpg" />
  <link href="/css/page/index.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176138363-1">
  </script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176138363-1');
  </script>

  <script src="/js/index.js"></script>
</head>
<body>
  <!-- Header -->
  <div class="header">
    <span>Clean AF Cars</span>
  </div>

  <!-- Content -->
  <div class="content">
  </div>

  <!-- Footer -->
  <div class="footer">
    <div class="divider"></div>
    <div class="nav">
      <p>© Clean AF Cars</p>
      <p><a href="/contact.html">Contact</a></p>
      <p><a href="/privacy.html">Privacy</a></p>
    </div>
  </div>
</body>
</html>
