@import '../component/header.css';
@import '../component/footer.css';

/********* Gallery */
.content {
  min-height: 90vh;
  margin: auto;
}

.gallery {
  background-color: #111;
  overflow: auto;
}

.gallery img {
  display: block;
  object-fit: cover;
  max-width: 1000px;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 800px) {
  .gallery img {
    margin: auto;
    width: auto;
  }
}

/********* Info */
.info {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

.price {
  color: #d44;
  /* color: #06f; */
}

.description {
  line-height: 1.4rem;
}

.spec p {
  font-weight: bold;
}

.info a {
  display: block;
  width: 160px;
  text-align: center;
  margin: 30px auto;
  padding: 10px;
  background-color: #0a0;
  color: white;
  border-radius: 2px;
}

.spec .posting-body {
  font-weight: normal;
  font-style: italic;
  line-height: 1.4;
}
