@import '../component/footer.css';

/********* Action buttons */
.action-btns {
  display: grid;
  margin: 10px;
  grid-auto-flow: column;
  justify-content: flex-start;
  grid-gap: 10px;
}

.action-btns button {
  color: white;
  padding: 6px;
  border: 1px solid gray;
  border-radius: 2px;
}

#add-car-btn {
  background-color: #0a0;
}

#check-expiration-btn {
  background-color: #08e;
}

/********* Listing */
.listing {
  min-height: 88vh;
  max-width: 1000px;
  margin: 20px 10px;
  display: grid;
  grid-gap: 12px;
  align-content: flex-start;
}

.listing-item {
  background-color: #fafafa;
  border-radius: 2px;
  padding-right: 4px;
  font-size: 14px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  grid-auto-columns: auto 1fr auto;
}

.listing-item img {
  /* max-height: 42px;
  width: auto; */
  height: 48px;
  width: 48px;
  object-fit: cover;
  display: block;
  border-radius: 2px;
}

.listing-item .info {
  display: grid;
  grid-gap: 4px;
}

.info .price {
  font-size: 12px;
  color: #666;
}

.listing-item .edit-btn {
  color: blue;
}

.listing-item .delete-btn {
  padding: 2px;
  background-color: #e22;
  color: white;
  border: 1px solid gray;
  border-radius: 2px;
}

@media only screen and (min-width: 800px) {
  .listing, .action-btns {
    margin: 10px auto;
    max-width: 1000px;
  }
}
